	body {
         box-sizing: border-box;
         margin: 0;
         background-color: black;
         }
         
         header {
           background-color: #FFBF00;
           height:100px;
font:20px Arial;
         }
         
         .navtext a {
         float: left;
         color: black;
         text-align: center;
         text-decoration: none;
         padding: 8px 10px;
         }
         
         .navtext a:hover {
         background-color:#E49B0F;
         }
         
         #navtext-right {
         float: right;    
         }
	 .bodyHeader a {

	 }
.navimg a {
 float: left;
 color: black;
 text-align: center;
 text-decoration: none;
 }
.bodyBackground {
  width:70%; 
  height:5000; 
  margin: auto;
  background-color:white;
  display: block;
}
.textFormat {
  font:20px Arial;
  color: black;
  text-align: center;
  text-decoration: none;
  padding: 8px 10px;
}
.sect2 {
  float: left;
  width: 33.33%;
  padding: 5px;
  /*border: 1px solid black;
  border-radius: 10px;
  margin: 10px;
  width: 200px;
  height: 500px;
  display: table;
  align-items: center;
  justify-content: center;
  position: center;
  text-decoration: none;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
}
/* .sect2 img{
  border-radius: 10px;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
} */
.sect2::after {
  content: "";
  clear: both;
  display: table;
}
