	body {
         box-sizing: border-box;
         margin: 0;
         background-color: black;
         }
         
         header {
           background-color: #FFBF00;
           height:100px;
font:20px Arial;
         }
         
         .navtext a {
         float: left;
         color: black;
         text-align: center;
         text-decoration: none;
         padding: 8px 10px;
         }
         
         .navtext a:hover {
         background-color:#E49B0F;
         }
         
         #navtext-right {
         float: right;    
         }
	 .bodyHeader a {

	 }
.navimg a {
 float: left;
 color: black;
 text-align: center;
 text-decoration: none;
 }
.bodyBackground {
  width:70%; 
  height:5000; 
  margin: auto;
  background-color:white;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

}
.textFormat {
  font:20px Arial;
  color: black;
  text-align: center;
  text-decoration: none;
  padding: 8px 10px;
}
.sect2 {
  border: 1px solid black;
  border-radius: 10px;
  margin: 10px;
  width: 200px; /* default width for the boxes */
  height: 500px; /* default height for the boxes */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  text-decoration: none;

}
.sect2 img{
  border-radius: 10px;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
