body {
  box-sizing: border-box;
  margin: 0;
  background-color: #f0f0f0;
}
         
header {
  background-color: black;
  height:100px;
}

.topnav a {
  float: left;
  color: #f8f8f8;
  text-align: center;
  text-decoration: none;
  padding: 10px 10px;
}

.topnav a:hover {
  background-color: black;
}

#topnav-right {
  float: right;    
}

.bodyHeader a {

}
